.hero {
    margin-top: 87px;
    background: url('../../../public//assets/home/mobile/image-header.jpg') no-repeat;
    background-size: 375px;
    background-position-y: -100px;
    background-position-x: center;
    background-color: var(--blackish);
    background-blend-mode: difference;
    text-align: center;
    position: relative;
}

.content {
    position: relative;
    z-index: 9;
    padding: 10.8rem 0 11.2rem;
    width: 87.5%;
    margin: auto;
    max-width: 37.9rem;
}

.subtitle {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 1.6rem;
}

.header {
    color: var(--white);
    text-transform: uppercase;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 1.29px;
    margin-bottom: 2.4rem;
}

.about {
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 2.8rem;
    line-height: 2.5rem;
}

@media screen and (min-width: 768px) {
    .subtitle {
        margin-bottom: 2.4rem;
    }
    .header {
        font-size: 5.6rem;
        line-height: 5.8rem;
        letter-spacing: 2px;
    }
    .about {
        margin-bottom: 4rem;
        padding: 0 1.5rem;
    }
    .content {
        padding: 12.6rem 0 16.7rem;
    }

    .hero {
        background: url('../../../public//assets/home/tablet/image-header.jpg') no-repeat;
        background-size: 730px;
        background-position-y: -80px;
        background-position-x: center;
        background-color: var(--blackish);
        background-blend-mode: difference;
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        padding: 0 3.9rem;
        background: url('../../../public//assets/home/desktop/image-hero.jpg') no-repeat;
        background-size: clamp(100px, 115vw, 1300px);
        background-position-y: -50px;
        background-position-x: center;
        background-color: var(--blackish);
        background-blend-mode: difference;
    }

    .content {
        margin: 0;
        padding: 12.6rem 0 16.7rem;
        text-align: left;
    }

    .about {
        padding: 0;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .hero {
        padding: 0 16.5rem;
    }

    .content {
        padding: 12.8rem 0 15.8rem;
    }

    .about {
        padding: 0;
        padding-right: 2rem;
    }
}